
<div class="container">
  <div class="row">
    <div class="summary-blog-post">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <div class="blog-img">
                <img src="img/main-img/blog-img.jpg" alt="blog img" />
              </div>
            </div>
            <div class="col-md-8">
              <div class="blog-post">
                <h3><a href="#">Accordion example</a></h3>
                <p>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                </p>
                <div class="summary-read-more">
                    <a href="#">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="summary-blog-post">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <div class="blog-img">
                <img src="img/main-img/blog-img.jpg" alt="blog img" />
              </div>
            </div>
            <div class="col-md-8">
              <div class="blog-post">
                <h3><a href="#">Accordion example</a></h3>
                <p>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                </p>
                <div class="summary-read-more">
                    <a href="#">Read More</a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="summary-blog-post">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <div class="blog-img">
                <img src="img/main-img/blog-img.jpg" alt="blog img" />
              </div>
            </div>
            <div class="col-md-8">
              <div class="blog-post">
                <h3><a href="#">Accordion example</a></h3>
                <p>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                </p>
                <div class="summary-read-more">
                    <a href="#">Read More</a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="load-more">
      <a href="#">Load More</a>
    </div>
  </div>
</div>
