<%= erb :login %>
<div class="footer">
<div class="container">
  <div class="row">
    <div class="col-md-6">
      Copyright (c) 2016 Copyright Holder All Rights Reserved.
    </div>
    <div class="col-md-6">
        <nav>
          <ul>
            <li>Privacy amd Policy</li>
            <li>Cookies</li>
            <li>Faq</li>
            <li>Events</li>
          </ul>
        </nav>
    </div>
  </div>
</div>
</div>
  <script src="js/jquery-3.1.0.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>
<!-- </audio>

    <script src="js/jquery-3.1.0.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html> -->
