<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <link rel="icon" href="img/mics/favicon.png">
    <title>Songs of Sinatra</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body>
  <header class="sinatra-hero">
    <%= erb :menu %>
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
      <div class="hero-snippet animated  slideInRight">
        <h2>Coming To l.A</h2>
        <h3>Theme from New York, New York</h3>
        <p>
          witness the return of a legend after 50years off stage
          a one time apperance sinatra
        </p>
        <div class="order animated infinite bounce">
          <p>
            ORDER NOW
          </p>
        </div>
      </div>
      </div>
    </div>
  </header>
  <div class="main-section">
    <div class="container">
      <div class="col-md-12">
        <div class="latest-hits">
          <h3>
            Latest Hits From Sinatra
          </h3>
          <ul>
            <li class="hits animated  bounce">
              <img src="img/main-img/hits1.jpg" alt="" />
              <div class="info">
                <h3>Adele</h3>
                <p>someone like you</p>
              </div>
            </li>
            <li class="hits">
              <img src="img/main-img/hits2.jpg" alt="" />
              <div class="info">
                <h3>Adele</h3>
                <p>someone like you</p>
              </div>
            </li>
            <li class="hits">
              <img src="img/main-img/hits3.jpg" alt="" />
              <div class="info">
                <h3>Adele</h3>
                <p>someone like you</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="event">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 c0l-xm-6">
            <div class="main-event">
              <h3>Events</h3>
              <ul>
                <li data-num="0"><a href="#">lagos event</a> <i class="fa fa-calendar-o" aria-hidden="true"></i></li>
                <li data-num="1"><a href="#">lagos event</a> <i class="fa fa-calendar-o" aria-hidden="true"></i></li>
                <li data-num="2"><a href="#">lagos event</a> <i class="fa fa-calendar-o" aria-hidden="true"></i></li>
                <li data-num="3"><a href="#">lagos event</a> <i class="fa fa-calendar-o" aria-hidden="true"></i></li>
                <li data-num="4"><a href="#">lagos event</a> <i class="fa fa-calendar-o" aria-hidden="true"></i></li>
              </ul>
              <div class="more-event">
                  <p>
                    more events
                  </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 c0l-xm-6">
            <div class="event-info">
              <h3>Lagos invasion</h3>
              <p>
                witness the return of a legend after 50years off stage <br>
                a one time apperance sinatra
              </p>
              <div class="row">
                <div class="col-md-6">
                  <div class="pevent-order">
                    Attend Event
                  </div>
                </div>
                <div class="col-md-6">
                  <!-- <div class="calender">
                      <i class="fa fa-calendar-o fa-5x"  aria-hidden="true"></i>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="fans">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-offset-4">
            <div class="comment">
              <h3>Latest From Fans</h3>
              <div class="fans-img">
                <img src="img/fans/128.jpg" alt="" />
              <div>
                <p><b>amy antony </b>says</p>
                <p>
                  this app workks like a charm and acts like a breeze in out daily routitine
                </p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= erb :footer %>
