<nav class="navbar"><!-- navbar -->
  <div class="container">
    <div class="row">
    <div class="nav-bg">
      <div class="col-md-12 col-sm-12 c0l-xm-12"><!-- login -->
        <div class="login pull-right">
          <a data-toggle="modal" data-target="#myLogin" href="#" >Login </a>| <a href="#" id="a" data-toggle="modal" data-target="#myRegister">Register</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 c0l-xm-3">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="logo">
            <a  href="#"> <img src="img/mics/logo.png" alt="" /></a>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 c0l-xm-9">
        <div class="col-md-9 col-sm-9 c0l-xm-9">
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="about">About Us</a></li>
              <li><a href="concerts">Concerts</a></li>
              <li><a href="Blog">Blog</a></li>
              <li><a href="contact">Contact Us</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    </div>
  </div>
</nav><!-- end navbar -->
